@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background: #b4c0e7;
  transition: all 1s;
}

.navbar {
  position: fixed;
  margin: 0;
  padding: 18px 50px;
  display: flex;
  width: 100%;
  opacity: 0;
  transition: opacity 0.7s;
}

.navbar.show {
  opacity: 1;
}

.navbar ul {
  display: flex;
  width: 100%;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

.navbar ul li {
  padding: 10px;
  color: white;
  font-weight: 500;
  font-size: 17px;
}

.navbar ul.right {
  justify-content: flex-end;
  display: flex;
}
.navbar ul.right li {
  display: flex;
}

.container {
  position: absolute;
  margin-top: 150px;
  display: flex;
  width: 75%;
}

.flex {
  display: flex;
}

.flex.justify-content.space-between {
  justify-content: space-between;
}

.flex.margin {
  margin: 20px auto;
}

.container-yellow {
  background: #fbb03b;
  background-color: #fbb03b;
  background-image: linear-gradient(90deg, #fee140 100%, #b4c0e7 91%);

  position: absolute;
  right: 0;
  top: 0;
  width: 0%;
  height: 100%;
  transition: all 0.5s ease-out;
}

.container-yellow.expand {
  width: 15%;
}

.container .row {
  display: contents;
  height: 100%;
  width: 100%;
}

.container .half {
  width: 50%;
}

.container .row .half img.notebook-yellow {
  position: absolute;
  width: 450px;
  left: -41%;
  opacity: 0.3;
  transform: rotate(-10deg);
  transition: all 0.5s ease-out;
}

img.notebook-blue {
  position: absolute;
  top: 240px;
  right: 0px;
  width: 220px;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s ease-out;
  transform: rotate(0deg);
}

.container .row .half img.notebook-yellow.show {
  transform: rotate(16deg);
  opacity: 1;
  left: 10%;
}

img.notebook-blue.show {
  opacity: 1;
  right: 180px;
  transform: rotate(-8deg);
}

.info {
  opacity: 0;
  transition: all 0.5s ease-out;
  height: 100%;
  margin: 50px 0 0 30px;
}

.info.show {
  opacity: 1;
  margin: 50px 0px 0px 20px;
  max-width: 75%;
}

.info h1.title {
  margin: 0;
  padding: 10px 0;
  font-size: 64px;
  color: white;
  font-weight: 500;
}

.info h6.description {
  font-size: 14px;
  color: white;
  margin: 0;
  font-weight: 400;
  padding: 3px 0px;
}

.button {
  padding: 14px 22px;
  border-radius: 20px;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: 500;
}

.button:hover {
  box-shadow: 1px 1px 5px #ddd;
}

.button.main {
  border: 1px solid #ccc;
  color: #b4c0e7;
  background: white;
}

.button.empty {
  border: 1px solid white;
  color: white;
  background: transparent;
}

.icon {
  width: 14px;
  margin-left: 10px;
}

.icon.medium {
  width: 18px;
}

#supermarket {
  transition: all 0.7s ease-out;
  margin-right: 40px;
}

#supermarket.margin {
  margin-right: 00px;
}

.pointer {
  cursor: pointer;
}